* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

img {
    width: 300px;
    height: auto; 
    display: block; 
    margin-top: 10px;
    margin-bottom: 20px; 
}

.containerLogin {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

div {
    margin-bottom: 15px;
}

.pin-container {
    display: flex; 
    align-items: center; 
}

.pin-container input {
    flex: 1; 
    padding: 10px;
    margin-right: 10px;
}


button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-ingresar {
    background-color: #007bff; 
    color: white;
}

.btn-ingresar:hover {
    background-color: #0056b3; 
}

.btn-crearPers {
    background-color: #28a745; 
    color: white; 
}

.btn-crearPers:hover {
    background-color: #218838; 
}

.btn-validar {
    background-color: #ffc107;
    color: black;  
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
}

.btn-validar:hover {
    background-color: #e0a800; 
}

.btn-guardarPer {
    background-color: #28a745; 
    color: white;
}

.btn-guardarPer:hover {
    background-color: #218838;
}

.btn-volver {
    background-color: #6c757d; 
    color: white; 
}

.btn-volver:hover {
    background-color: #5a6268; 
}

