@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: "Poppins", sans-serif;
}

img {
    width: 300px;
    height: auto; 
    display: block; 
    margin-top: 10px;
    margin-bottom: 20px; 
}

.containerLogin {
    max-width: 420px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    background-color: #d1d1d1;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

div {
    margin-bottom: 15px;
}

input[type="text"]:not(#pin),
input[type="password"] {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #5d5d5d; 
    border-radius: 5px;
    box-sizing: border-box; 
    margin-bottom: 15px;
}


.pin-container {
    display: flex; 
    align-items: center; 
}

.pin-container input {
    flex: 1; 
    padding: 10px;
    margin-right: 10px;
}


button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-ingresar {
    background-color: #007bff; 
    color: #ffffff;
}

.btn-ingresar:hover {
    background-color: #0056b3; 
}

.btn-crearPers {
    background-color: #28a745; 
    color: #ffffff; 
}

.btn-crearPers:hover {
    background-color: #218838; 
}

.btn-validar {
    background-color: #ffc107;
    color: black;  
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
}

.btn-validar:hover {
    background-color: #e0a800; 
}

.btn-guardarPer {
    background-color: #28a745; 
    color: #ffffff;
    margin-right: 10px;
}

.btn-guardarPer:hover {
    background-color: #218838;
}

.btn-eliminar {
    background-color: #ffffff;
}

.btn-eliminar:hover {
    background-color: #efefef;
}

.btn-volver {
    background-color: #6c757d; 
    color: #ffffff; 
}

.btn-volver:hover {
    background-color: #5a6268; 
}

.button-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 400px; 
    border-radius: 6px;
}

.modal-content h2 {
    color: #c80d0d;
}

.btn-confirmar {
    padding: 10px;
    background-color: #6c757d;
    color: #ffffff;
    border: 1px solid #6c757d;
    border-radius: 4px;
    cursor: pointer;
}

.btn-confirmar:hover {
    background-color: #5a6268;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c80d0d;
    text-decoration: none;
    cursor: pointer;
}


